{%extends 'base.html'%}
{%load crispy_forms_tags%}

{%block body%}
<form method="post" action="" style="width:50%; margin:auto; border:1px solid black; padding:50px" novalidate>
    <!-- {{form|crispy}} -->
    <h1>Login page</h1>
    {%csrf_token%}
    {%if form.non_field_errors%}
    {%for er in form.non_field_errors%}
    <p class="bg-danger text-white p-3">{{er}}</p>
    {%endfor%}
    {%endif%}
    {% for fm in form %}
    {{fm.label_tag}}
    {{fm}}
    {{fm.errors}}
    {%endfor%}
    <button class="btn btn-warning" type="submit">Login</button>
  </form>
{%endblock%}