

<footer class="page-footer bg-primary">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">PrismPages-Blog</h5>
          <p class="grey-text text-lighten-4">Blogging is not just about publishing content, but sharing unique perspectives, inspiring ideas, and creating a digital space where words have the power to connect, resonate, and leave a lasting impression."</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Prismpages.com</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">prismpages/linkedin.com</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">PrismPages@gmail.com</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">facebook.com/prismpages</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2023 Copyright Text

      </div>
    </div>
  </footer>

